@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto+Condensed&display=swap');
body {
	width: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	background-color: #692b44;
}
header {
	background-color: #511730;
	width: 100%;
}
footer {
	background-color: #511730;
	color: slategrey;
	padding: 1%;
	text-align: left;
	font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
}
h1, h2 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}
h3, h4 {
	font-family: 'Raleway', sans-serif;
}
td {
	width: 80%
}
th {
	text-align: center;
}
th, td {
	border: 5px solid #ccc;
	border-radius: 3px;
	background-color: white;
}
#carOutput{
	text-align: center;
}

#confirmOverlay {
    /* style on confirm overlay */
    position: fixed;
    overflow: hidden;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #511730;
    opacity: 0.95;
    transition: 0.2s;
    width: 100vw;
    height: 0;
    /* height adjusted to expand overlay */
}

#confirmOverlay p {
    /* style on text portion of confirm overlay */
    line-height: 100vh;
    font-size: 5vw;
    opacity: 1.0;
    color: #ffffff;
}

#confirmOverlay a {
    /* style on cross to close confirm overlay */
    text-decoration: none;
    color: #ffffff;
    display: block;
    position: absolute;
    top: 0px;
    right: 45px;
    font-size: 90px;
}

#confirmOverlay a:hover {
    color: #cccccc;
}

.main_content {
	width: 70%;
}
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 150%;
	width: 15%;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px;
}
.col-25 {
	flex: 25%;
}
.col-50 {
	flex: 50%;
}
.col-75 {
	flex: 75%;
}
.col-25, .col-50, .col-75 {
	padding: 0 10px;
}
.container {
	background-color: #f2f2f2;
	padding: 5px 16px 15px 20px;
	border: 1px solid lightgrey;
	border-radius: 3px;
}
input[type=text], [type=number], [type='tel'], [type='email'], [type='date'], [type='submit'] {
	width: 98%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
textarea {
	width: 98%;
	margin-bottom: 20px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
}
label {
	margin-bottom: 10px;
	display: block;
}
dl {
	display: grid;
	grid-template-columns: max-content auto;
	grid-gap: 8px;
}
dt {
	grid-column-start: 1;
}
dd {
	grid-column-start: 2;
}
.icon-container {
	margin-bottom: 20px;
	padding: 7px 0;
	font-size: 24px;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 40%;
	margin: 12px;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cardContainer {
	padding: 2px 16px;
	margin-left: auto;
	margin-right: auto;
}
.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 auto;
	padding: 9px;
}
.right {
	height: 50%;
	width: 28%;
	right: 0.5%;
	position: fixed;
	top: 25%;
	bottom: 30%;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */

@media (max-width: 800px) {
	.row {
		flex-direction: column-reverse;
	}
	.col-25 {
		margin-bottom: 20px;
	}
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */

@media (max-width: 800px) {
	.row {
		flex-direction: column-reverse;
	}
	.col-25 {
		margin-bottom: 20px;
	}
}
/* If the screen is less than 600px (phone view) apply the following style*/

@media only screen and (max-width: 600px) {
	body {
		width: 98%;
		font-size: 30px;
	}
}
/* If the screen is less than 800px (tablet view) apply the following style*/

@media only screen and (max-width: 800px) {
	body {
		width: 80%;
		font-size: 20px;
	}
}
/* If the screen is less than 800px (tablet view) apply the following style*/

@media (max-width: 750px) {
	#hideonmobile1{ display:none; }
    }